ShaderGraph-HDRP
ShaderGraph-URP
Illustrations
Unity 2021 Shaders and Effects Cookbook/Assets/Chapter???/Models/
Unity 2021 Shaders and Effects Cookbook/Assets/Chapter???/Terrains/
Unity 2021 Shaders and Effects Cookbook/Assets/Chapter???/Textures/
Unity 2021 Shaders and Effects Cookbook/Assets/Chapter???/Materials/
Unity 2021 Shaders and Effects Cookbook/Assets/Chapter???/Shaders/
Unity 2021 Shaders and Effects Cookbook/Assets/Chapter???/Scenes/
Unity 2021 Shaders and Effects Cookbook/Assets/Chapter???/Standard Assets/
*.meta
*wav.meta
